// Jade file to specify output of a persons list
// Inherits from layout
extend layout
block navbarcontent
  nav.nav.navbar-inverse.navbar-fixed-top
        .container-fluid
          .navbar-header
            a.navbar-brand(href='#') Explore
          ul.nav.navbar-nav.navbar-right
            li
              a(href='New_York') Home
            li
              a(href='/setting') Setting
            li
              a(href='/signout', class='text-center new-account') Sign Out
block content
  CityDB Search online    
  img(src="https://www.gstatic.com/images/branding/googlelogo/2x/googlelogo_color_284x96dp.png", width="200" height=67, alt="Image Title")
  script(type='text/javascript').
    (function() {
      var cx = '003166992595292943631:ngup2mzh0lc';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();
  gcse:search
  if flag == 0
    img(src="https://scontent.cdninstagram.com/t51.2885-15/s1080x1080/e35/17881858_1102260876544709_1227002693961121792_n.jpg", width="500" height=400, alt="Image Title")
    p
      |  #{title}:
    // Create a table with one row per result
    form(method="get", action="/college_choice")
      p
        select(name = "name")
          - for (var inx = 0; inx < results.length; inx++)
            option #{results[inx].state}
        input(type='submit', value='show college info', class="btn btn-success")
  if flag == 1
    table
      - for (var inx = 0; inx < results.length; inx++)
        tr
          td=results[inx].NAME
          td &nbsp;
          td=results[inx].CITY
          td &nbsp;
          td=results[inx].STABBR
          td &nbsp;
          td=results[inx].TOT_ENROLL
          td &nbsp;
          td=results[inx].GRAD_DEBT_MDN_SUPP
  // Put a click button that lets us return to the index page 
  form(method='get', action='/college_choice')
      input(type='submit', value='Return', class="btn btn-success")