extend layout
block navbarcontent
    nav.nav.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#') Explore
        ul.nav.navbar-nav.navbar-right
          li
            a(href='New_York') Home
          li
            a(href='/setting') Setting
          li
            a(href='/signout', class='text-center new-account') Sign Out

block content
  h3
    | Welcome! Check your details below:

  p
    table(class="table")
      tr
        td="Username"
        td #{user.username}
        td #{user.fb.id}
        td #{user.twitter.id}
      tr
        td="Email"
        td #{user.email}
        td #{user.fb.email}
      tr
        td="First Name"
        td #{user.firstName}
        td #{user.twitter.username}
      tr
        td="Last Name"
        td #{user.lastName}
        td #{user.twitter.displayName}

  a(href='/signout', class='text-center new-account') Sign Out
